[submodule "libs/usb-device"]
	path = libs/usb-device
	url = https://github.com/lkolbly/usb-device.git
[submodule "libs/imxrt-hal"]
	path = libs/imxrt-hal
	url = https://github.com/lkolbly/imxrt-hal.git
[submodule "libs/imxrt-usbd"]
	path = libs/imxrt-usbd
	url = https://github.com/lkolbly/imxrt-usbd
